/* src/components/Header/Header.css */
.header {
    background-color: #FFFFFF;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Questo assicura che l'header rimanga sopra gli altri contenuti */
}
  
  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }